[submodule "lib/Xepto"]
	path = lib/Xepto
	url = git@github.com:JonLundy/Xepto.git
[submodule "lib/XeptoAuthCAS"]
	path = lib/XeptoAuthCAS
	url = git@github.com:JonLundy/XeptoAuthCAS.git
[submodule "vendor/Predis"]
	path = vendor/Predis
	url = git@github.com:nrk/predis.git
[submodule "vendor/phpCAS"]
	path = vendor/phpCAS
	url = git@github.com:Jasig/phpCAS.git
[submodule "lib/XeptoAuthToken"]
	path = lib/XeptoAuthToken
	url = git@github.com:JonLundy/XeptoAuthToken.git
