<?php

$config = [
    'token' => [
        'environment_key'    => 'ENC_KEY', // The environment variable to use.
        'cookie' => [
            'name'     => 'Access-Token', // Name of the Cookie to set
            'domain'   => '.example.com', // Domain name for the Cookie
            'path'     => '/',
            'httponly' => true,
            'secure'   => true,
        ],
    ],
    'cors' => [
        'max_age' => 3600,
        'methods' => ['GET', 'POST', 'PUT', 'DELETE', 'OPTIONS'],
        'allowed' => [
           // 'https://site.example.com',
           // 'https://example.com',
           // 'https://other.example.net',           
        ]
    ],
    'persist' => [
        'db' => [
            'database' => 1,
            'prefix'   => 'Auth',
            'servers'  => [
                '127.0.0.1',
            ],
        ],
    ],
    'rules' => [
        'limits' => [
            [ 'prefix'  => 'RLIMIT',
              'header'  => 'X-Request-Limit', // Header to send to client
              'limit'   => 3000,
              'timeout' => 3600, ],
            [ 'prefix'  => 'FLOOD',
              'header'  => 'X-Flood-Limit',
              'limit'   => 500,
              'timeout' => 1, ]
        ],
        'allow_anon' => 'true',
    ],
    'response' => [],
    'router' => [
        'routes' => [
            '/auth.login'  => '\Auth\Login',
            '/auth.logout' => '\Auth\Logout',
            '/auth.ticket' => '\Auth\Ticket',
            '/auth.token'  => '\Auth\Token',
            '/auth.home'   => '\Auth\Home',
        ],
    ],
    'app' => [
        'cas' => [
            'host'    => 'cas.example.com',
            'port'    => 443,
            'ctx' => '/cas',
        ],
        'default' => 'https://site.example.com',
        'allow' => [ 
           // 'https://site.example.com',
         ],   
         'handler' => 'https://site.example.com/auth.ticket',    
    ],
];
