[submodule "Xepto"]
      path = Xepto
      url = git://github.com/JonLundy/Xepto.git

[submodule "XeptoCheck"]
      path = XeptoCheck
      url = git://github.com/JonLundy/XeptoCheck.git

[submodule "XeptoAuthCAS"]
      path = XeptoAuthCAS
      url = git://github.com/JonLundy/XeptoAuthCAS.git
